<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="3">
    <test name="Selenium_TestNg_Java">
        <classes>
            <class name="com.selenium_testng_java.tests.QaCartTest"></class>
            <class name="com.selenium_testng_java.tests.MainPageTest"></class>
            <class name="com.selenium_testng_java.tests.BasicAuthentication"></class>
        </classes>
    </test>

</suite>